@import 'bourbon/bourbon'
@import 'media-queries'

body
	margin: 0
	font-family: Helvetica, Arial, Sans-Serif
	font-size: 14px

	// &.js-menu-open
	// 	.content
	// 		+position(fixed)

.content
	height: 4600px
	background: url('bg.jpg')
	background-repeat: repeat

.js-mobile-menu
	position: fixed

	nav
		+position(absolute, 0 null null -100%)
		width: 100%
		+transition()

		ul
			margin: 0
			padding: 0

			li
				background: #eee
				height: 400px
				width: 100%

				&:nth-child(2n+1)
					background: darken(#eee, 10%)
