@import 'bourbon/bourbon'
@import 'media-queries'

body
	margin: 0
	font-family: Helvetica, Arial, Sans-Serif
	font-size: 14px

	&.js-menu-open
		max-height: 100vh
		overflow: hidden

		.js-mobile-menu
			display: block
			left: 0%

.content
	height: 1600px
	background: url('bg.jpg')
	background-repeat: no-repeat

.js-mobile-menu
	+position(fixed, 0 null null -100%)
	width: 90%
	max-height: 100vh
	z-index: 100
	overflow-y: scroll
	-webkit-overflow-scrolling: touch
	+transition()
	display: none

	ul
		margin: 0
		padding: 0

		li
			background: #eee
			height: 400px
			width: 100%

			&:nth-child(2n+1)
				background: darken(#eee, 10%)
