/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body.style-1-open {
  max-height: 100vh;
  overflow: hidden; }
  body.style-1-open .js-mobile-menu.style-1 {
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    body.style-1-open .js-mobile-menu.style-1 nav {
      display: block; }

.js-mobile-menu.style-1 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: transparent; }
  .js-mobile-menu.style-1 .controls {
    height: 4em;
    line-height: 4em;
    background: #fff;
    box-shadow: 0 1px 1px #999;
    padding: 0 1em; }
  .js-mobile-menu.style-1 nav {
    padding: 60px 40px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    display: none; }
    .js-mobile-menu.style-1 nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.4);
      background: #fafafa; }
      .js-mobile-menu.style-1 nav ul li {
        border-bottom: 1px solid #f8f8f8; }
        .js-mobile-menu.style-1 nav ul li a {
          display: block;
          padding: 1em;
          color: #999;
          text-decoration: none; }
      .js-mobile-menu.style-1 nav ul ul {
        height: 0;
        overflow: hidden;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        box-shadow: none;
        border-top: 1px solid #f8f8f8;
        background: #ededed; }
        .js-mobile-menu.style-1 nav ul ul li {
          border-bottom: 1px solid #f0f0f0; }
          .js-mobile-menu.style-1 nav ul ul li:last-child {
            border-bottom: none; }
        .js-mobile-menu.style-1 nav ul ul.open {
          height: auto; }

body {
  font-family: "Roboto", Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 0; }

@media screen and (min-width: 768px) {
  .mobile {
    display: none; } }

@media screen and (max-width: 768px) {
  .desktop {
    display: none; } }

header {
  background: #0cba5d;
  color: #edfff5;
  height: 400px;
  padding-top: 160px;
  text-align: center;
  position: relative; }
  header h1 {
    font-size: 3em; }
  header h4 {
    font-family: "Droid Serif", Georgia, Serif;
    font-style: italic;
    font-weight: 400; }
    header h4 a {
      color: inherit; }
  header:after {
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    background: #0cba5d;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

article {
  width: 800px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    article {
      width: 100%;
      padding: 0 1em; } }
  article h1 {
    text-align: center;
    color: #333333;
    margin: 4em 0 2em; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul li {
    margin: 0.5em 0;
    text-align: center; }

.toggle {
  display: inline-block;
  font-size: 1.3em;
  padding: 0 3em;
  line-height: 3em;
  background: #0cba5d;
  color: #edfff5;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500; }
  @media screen and (min-width: 768px) {
    .toggle {
      background: #ae4343; } }

/*# sourceMappingURL=style.css.map */
